
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div style="margin-top: -105px">
	<div class="row justify-content-md-center text-center">
		<div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">

			<i class="bi bi-hdd-fill"></i>

			<h3>Back-End</h3>
			<p>trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entra continua</p>

			<p class="text-primary cabecera">
				Stack:
			</p>
			<p>
				ASP.NET Core, SQL SERVER
			</p>

			<p class="text-primary cabecera">
				Experiencia:
			</p>

			<ul>
				<li>Web Apis</li>
				<li>ASP.NET Core MVC</li>
				<li>Blazor</li>
				<li>Dapper</li>
				<li>Principios SOLID</li>
			</ul>

		</div>
		<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">

			<i class="bi bi-code-slash"></i>

			<h3>
				Front-End
			</h3>
			<p>
				Puedo Crear front-Ends robustos los cuales cumples con los requerimientos de los negocios propuestos
			</p>


			<p class="text-primary cabecera">
				Stack:
			</p>
			<p>
				Blazor
			</p>

			<p class="text-primary cabecera">
				Experiencia:
			</p>

			<ul>
				<li>Blazor Wasm</li>
				<li>JQuery</li>
				<li>Pruebas Automáticas</li>
				<li>Leaflet</li>
				<li>Markdown</li>
			</ul>

		</div>
	</div>
</div>
