@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Diego Paolo Nova Rosas</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologias .net y javascript NO :v</h2> 
    <img style="width: 200px; margin: 2rem 0; border-radius: 50%" src="/imagenes/foto.jpg" alt="foto de perfil" />
</div>
