@model Persona

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Soy @Model.Nombre (@Model.Edad)</h1>
	<h2>Soy un desarrollador full stack especializado en tecnologias .net y javascript NO :v</h2>
	<img id="foto" src="~/imagenes/foto.jpg" alt="foto de perfil" />
</div>

<div class="text-center">
	<img src="~/imagenes/integra.jpg" id="imagen-dotnet" alt="Imagen de honda integra" />
</div>

<div class="row justify-content-center text-center bg-primary">
	<div class="col col-md-7 seccion-bienvenida">
		<h1 class="text-bg-primary">Te doy la bienvenida</h1>
		<p>
			Soy un desarrollador full stack especializado en tecnologias .net y javascript NO :v <br />
			Soy un desarrollador full stack especializado en tecnologias .net y javascript NO :v
			Soy un desarrollador full stack especializado en tecnologias .net y javascript NO :v
		</p>
	</div>
</div>


<div class="row justify-content-md-center text-center">
	<div class="col col-3 bg-white">
		<h3>Back-End</h3>
		<p>trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entra continua</p>
		
		<p class="text-primary cabecera">
			Stack:
		</p>
		<p>
			ASP.NET Core, SQL SERVER
		</p>

		<p class="text-primary cabecera">
			Experiencia:
		</p>

		<ul>
			<li>Web Apis</li>
			<li>ASP.NET Core MVC</li>
			<li>Blazor</li>
			<li>Dapper</li>
			<li>Principios SOLID</li>
		</ul>

	</div>
	<div class="col col-3 bg-white">
		<h3 class="text-center text-primary">
			Front-End
		</h3>
		<p>
			Puedo Crear front-Ends robustos los cuales cumples con los requerimientos de los negocios propuestos
		</p>


		<p class="text-primary cabecera">
			Stack:
		</p>
		<p>
			Blazor
		</p>

		<p class="text-primary cabecera">
			Experiencia:
		</p>

		<ul>
			<li>Blazor Wasm</li>
			<li>JQuery</li>
			<li>Pruebas Automáticas</li>
			<li>Leaflet</li>
			<li>Markdown</li>
		</ul>

	</div>
</div>